<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'receitas/partials/head.html' %}
    <title>{% block title %}{% endblock %}Receitas</title>
</head>

<body>
    {% include 'receitas/partials/header.html' %}
    {% include 'receitas/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">

            {% block content %}{% endblock content%}
            
        </div>
    </main>
    {% include 'receitas/partials/footer.html' %}
    
</body>

</html>